﻿@model WebApp01.Models.WPViewModel

@{
    ViewBag.Title = "View";
}

@Styles.Render("~/Content/workplanStyle.css")

<h2>Workplans</h2>
<h5>
    @Html.ActionLink("Back", "Index", "WorkstreamView")
</h5>

@Html.ActionLink(
    "To tree view",
    "Index",
    "WorkplanTree",
    new { ProjectFilter = Request.QueryString["ProjectFilter"] },
    null)

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Values.FirstOrDefault().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Values.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Values.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Values.FirstOrDefault().StartDate)
        </th>
    </tr>
    @using (Html.BeginForm())
    {
        <tr>
            <th>
                @Html.TextBox("IdFilter", Model.IdFilter)
            </th>
            <th>
                @Html.TextBox("NameFilter", Model.NamesFilter)
            </th>
            <th>
                @Html.DropDownList("StatusFilter",
               new List<SelectListItem> { new SelectListItem() { Text = "" } }
               .Union(EnumHelper.GetSelectList(typeof(Models.Status)))
               .Where(a => a.Text != Model.StatusFilter.ToString()),
               Model.StatusFilter.ToString(), null)
            </th>
            <th>
                @Html.TextBox("DateFilter", Model.DateFilter)
            </th>
            <th>
                <button type="submit">
                    With this parameters
                </button>
            </th>
        </tr>
    }
    @foreach (var item in Model.Values)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
        </tr>
    }
</table>
