﻿@model IEnumerable<GeneralModels.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h5>
    @Html.ActionLink("Back", "Index", "WorkstreamView")
</h5>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkstreamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkstreamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Details", "Index", "WorkplanView", new { ProjectFilter = item.Id }, null)
            </td>
        </tr>
    }
</table>
