﻿@model IEnumerable<GeneralModels.Workplan>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/workplanStyle.css")

<h2>Workplans</h2>

<h5>
    @Html.ActionLink("Back", "Index", "WorkstreamView")
</h5>

@Html.ActionLink(
    "To table view",
    "Index",
    "WorkplanView",
    new { ProjectFilter = Request.QueryString["ProjectFilter"] },
    null)

@WebApp01.Helpers.TreeHelper.Tree(Model,
    "<h3>{name}</h3>{status}<br/>" + Html.ActionLink("Details", "Index")
    )
